@model inwestycje.Models.sklepy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sklepy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lokal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NazwaGalerii)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaGalerii)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Metraz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metraz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brygadzista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brygadzista)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
