@model IEnumerable<inwestycje.Models.sklepy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Szukaj" />
    </p>
}

<table class="table">
    <tr>
        
        <th>
            @Html.ActionLink("Lokal", "Index", new { sortOrder = ViewBag.LokalSortParm })
        </th>
        <th>
            @Html.ActionLink("Miasto", "Index", new { sortOrder = ViewBag.MiastoSortParm })
        </th>
        <th>
           @Html.ActionLink("Nazwa Galerii", "Index", new { sortOrder = ViewBag.NazwaGaleriiSortParm })
        </th>
        <th>
            @Html.ActionLink("Metraż [m2]", "Index", new { sortOrder = ViewBag.MetrazSortParm })
        </th>
        <th>
           @Html.ActionLink("Brygadzista", "Index", new { sortOrder = ViewBag.BrygadzistaSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lokal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NazwaGalerii)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Metraz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brygadzista)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<h4 style="color:red;">Drukuj do PDF</h4>

<p>
    @Html.ActionLink("Print", "PrintAll")
</p>
